<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update customer</title>
</head>
<body>
<h2>Update customer</h2>
<form action="#" th:action="@{/customer/update/{id}(id=${customer.id})}" th:object="${customer}" method="post">
    <label for="firstName"> First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <input type="submit" value="Update Customer">
</form>

</body>
</html>